<section class="flex flex-col w-full gap-1.5" [class.dark]="theme === 'dark'">
  @if (props.label && props.labelLoc !== "hide") {
    <p
      class="text-[11px] text-foreground mb-1"
      [ngClass]="{
        '!text-destructive': fControl.errors && fControl.dirty,
      }"
    >
      {{ props.label }}
    </p>
  }
  <input
    [type]="props.type"
    [placeholder]="props.placeholder ?? ''"
    [formControl]="fControl"
    class="text-foreground text-xs placeholder:text-input py-2 px-3 transition-all duration-75 ease-[cubic-bezier(0.95,0.05,0.795,0.035)] rounded-xl w-full border outline-primary hover:outline-2 hover:outline-offset-2 focus:outline-2 focus:outline-offset-2"
    [ngClass]="{
      'border-destructive hover:outline-destructive focus:outline-destructive':
        fControl.errors && fControl.dirty,
      'pointer-events-none bg-neutral-500/25': disabled,
    }"
  />

  <div class="flex items-center pb-1">
    <app-input-error
      [ngClass]="{ visible: showError, invisible: !showError }"
      [fControl]="fControl"
      [labelProps]="props.label"
    ></app-input-error>

    @if (showHint) {
      <small class="text-xs text-muted-foreground">{{ props.hint }}</small>
    }
  </div>
</section>
