<section class="flex flex-col w-full gap-1.5" [class.dark]="theme === 'dark'">
  @if (props.label && props.labelLoc !== "hide") {
    <p
      class="text-sm text-foreground mb-1"
      [ngClass]="{
        '!text-destructive': fControl.errors && fControl.dirty,
      }"
    >
      {{ props.label }}
    </p>
  }
  <input
    [type]="props.type"
    [placeholder]="props.placeholder ?? ''"
    [formControl]="fControl"
    class="bg-transparent text-foreground text-sm placeholder:text-input py-2 px-3 transition-all duration-75 ease-[cubic-bezier(0.95,0.05,0.795,0.035)] rounded-xl w-full border outline-primary hover:outline-2 hover:outline-offset-2 focus:outline-2 focus:outline-offset-2"
    [ngClass]="{
      'border-destructive hover:outline-destructive focus:outline-destructive':
        fControl.errors && fControl.dirty,
    }"
  />

  <div class="flex items-center py-1">
    @if (showError) {
      <app-input-error
        [fControl]="fControl"
        [labelProps]="props.label"
      ></app-input-error>
    }

    @if (showHint) {
      <small class="text-xs text-muted-foreground">{{ props.hint }}</small>
    }
  </div>
</section>
