<!-- bg-card text-card-foreground flex flex-col gap-6 rounded-xl border py-6 shadow-sm -->
<main
  class="min-w-[55vw] w-[55vw] lg:min-w-[25vw] lg:w-[25vw] bg-card border rounded-xl shadow-xs py-12 px-10"
  [class.dark]="theme() === 'dark'"
>
  <section class="flex items-center gap-2.5 pb-4">
    <section class="pr-10">
      <h1
        class="text-xl font-bold tracking-wide"
        [class.text-primary]="theme() === 'dark'"
        [class.text-black]="theme() !== 'dark'"
      >
        Welcome back, achiever!
      </h1>
      <small class="inline-block mt-2.5 text-muted-foreground"
        >Ready to conquer your tasks and level up your day?
      </small>
    </section>

    <section class="ml-auto">
      <a
        class="text-primary hover:underline cursor-pointer"
        tabindex="0"
        (keypress)="navigateToSignup()"
        (click)="navigateToSignup()"
        >Signup</a
      >
    </section>
  </section>

  <section
    class="mt-4 flex flex-col justify-center gap-2.5"
    [formGroup]="credentialForm"
  >
    <app-text-field
      fcName="email"
      [props]="{ type: 'text', label: 'Email' }"
    ></app-text-field>

    <app-password-field fcName="password" [props]="{ label: 'Password' }" />
  </section>

  <button
    class="block mt-4 bg-primary h-[2.4rem] px-4 py-1 text-primary-foreground ml-auto rounded-full cursor-pointer hover:bg-primary/85"
    (click)="submit()"
  >
    Login
  </button>
</main>
