<section class="flex flex-col w-full gap-1.5">
  @if (props.label && props.labelLoc !== "hide") {
    <p
      class="text-sm text-white"
      [ngClass]="{
        '!text-error-500': fControl.errors && fControl.dirty,
      }"
    >
      {{ props.label }}
    </p>
  }
  <div class="relative w-full">
    <input
      class="bg-white py-2 pl-3 pr-11 rounded-xl w-full border hover:outline-2 hover:outline-offset-2 focus:outline-2 focus:outline-offset-2"
      [type]="showPassword ? 'text' : 'password'"
      [placeholder]="props.placeholder"
      [formControl]="fControl"
      [disabled]="disabled"
      [ngClass]="{
        'border-transparent hover:outline-primary-400 focus:outline-primary-500':
          !fControl.errors,
        'border-error-500 hover:outline-error-400 focus:outline-error-500':
          fControl.errors && fControl.dirty,
      }"
    />
    <button
      class="absolute top-2.5 right-4 cursor-pointer z-[2] h-[24px] w-[24px] flex items-center justify-center rounded-full"
      [disabled]="disabled"
      (click)="showPassword = !showPassword"
    >
      <i
        class="text-neutral-800 fa-solid"
        [ngClass]="{
          'fa-eye': !showPassword,
          'fa-eye-slash': showPassword,
        }"
      ></i>
    </button>
  </div>

  @if (!props.hideError) {
    <app-input-error
      [fControl]="fControl"
      [labelProps]="props.label"
    ></app-input-error>
  }

  @if (props.hint && fControl.errors) {
    <!-- Show hint -->
  }
</section>
