<section appDialogTitle>
  <h1>
    {{ data.task ? "Update" : "Add" }}
    {{ (data.taskType | titlecase) ?? "[ERR: Type not Found]" }} Task
  </h1>
  <p>
    Planning made easy! Add a new task or edit your existing task details here.
  </p>
  <app-dialog-close-button (willClose)="closeDialog()" />
</section>

<main appDialogContent class="gap-2" [formGroup]="taskForm">
  <app-text-field fcName="name" [props]="{ label: 'Name', type: 'text' }" />
  <app-text-field
    fcName="description"
    [props]="{ label: 'Description', type: 'text' }"
  />
  <app-select-field
    fcName="type"
    [options]="types"
    [disabled]="true"
    [props]="{ label: 'Type' }"
  />
  <app-select-field
    fcName="difficulty"
    [options]="difficulties"
    [props]="{
      label: 'Difficulty',
      searchPlaceholder: 'Search Difficulty',
    }"
  />

  @if (data.task) {
    <app-select-field
      fcName="status"
      [options]="statuses"
      [props]="{ label: 'Status' }"
    />
  }
</main>

<footer appDialogActions class="flex flex-col gap-2 border-t">
  <button
    class="group cursor-pointer transition-colors duration-100 ease-burst-in-slow-out text-primary-foreground border bg-primary rounded-xl px-4 py-2 w-full hover:bg-primary/55 disabled:bg-muted/25 disabled:cursor-not-allowed disabled:text-muted-foreground disabled:pointer-events-none"
    [ariaDisabled]="taskForm.invalid || taskForm.pristine"
    [disabled]="taskForm.invalid || taskForm.pristine"
    (click)="submit()"
  >
    <p class="group-hover:text-primary-foreground text-sm">Submit</p>
  </button>

  <button
    class="group cursor-pointer transition-colors duration-100 ease-burst-in-slow-out text-foreground border bg-card rounded-xl px-4 py-2 w-full hover:bg-accent"
    (click)="closeDialog()"
  >
    <p class="group-hover:text-accent-foreground text-sm">Close</p>
  </button>
</footer>
