<main class="h-full bg-background" [class.dark]="theme() === 'dark'">
  <section class="flex items-center">
    <div class="w-[128px] h-[128px] border border-foreground text-foreground">
      Character Pic
    </div>
    <div class="w-[calc(100vw*0.2)] flex flex-col justify-center ml-4 gap-2">
      <app-stat-bar
        statCursor="hp"
        [props]="{ bgColorTailwindCss: 'bg-rose-500', prefix: 'HP' }"
      ></app-stat-bar>
      <app-stat-bar
        statCursor="mana"
        [props]="{ bgColorTailwindCss: 'bg-blue-500', prefix: 'MP' }"
      ></app-stat-bar>
    </div>
  </section>

  <div>
    <button
      class="bg-primary h-[2.4rem] px-4 py-1 text-black ml-auto rounded-full cursor-pointer hover:bg-primary/85 mr-4"
      (click)="increaseStat('hp', 10)"
    >
      HP +1
    </button>
    <button
      class="bg-primary h-[2.4rem] px-4 py-1 text-black ml-auto rounded-full cursor-pointer hover:bg-primary/85 mr-4"
      (click)="decreaseStat('hp', 10)"
    >
      HP -1
    </button>
    <button
      class="bg-primary h-[2.4rem] px-4 py-1 text-black ml-auto rounded-full cursor-pointer hover:bg-primary/85 mr-4"
      (click)="increaseStat('mana', 10)"
    >
      MP +1
    </button>
    <button
      class="bg-primary h-[2.4rem] px-4 py-1 text-black ml-auto rounded-full cursor-pointer hover:bg-primary/85 mr-4"
      (click)="decreaseStat('mana', 10)"
    >
      MP -1
    </button>
  </div>

  <section class="h-[calc(100vh-20%)] grid grid-cols-12 pt-5">
    <aside class="flex flex-col items-center col-span-3 px-4 py-2 h-full">
      <div class="flex items-center justify-center gap-1 relative">
        <h3
          class="inline-block bg-accent border px-3 py-1 rounded-xl text-accent-foreground tracking-wide font-medium shadow-sm relative"
        >
          Pinned Task
        </h3>
        <app-badge badgeValue="330" badgeType="notification"></app-badge>
      </div>
    </aside>
    <main
      class="flex flex-col col-span-9 border rounded-sm py-2 h-full overflow-y-hidden"
    >
      <h3 class="inline-block py-1 text-foreground px-4 pb-2 text-center">
        Task Entries
      </h3>
      <section
        class="flex-1 border-t overflow-y-auto will-change-scroll min-h-[0] gap-2 px-4 pb-3 styled-scrollbars transition-all duration-[50ms] ease-burst-in-slow-out"
      >
        @for (task of tempTaskList; track task._id) {
          <div
            class="hover:bg-muted grid grid-cols-12 border rounded-xl px-4 py-5 mt-2 bg-card"
          >
            <div class="col-span-11 flex flex-col">
              <h4
                class="inline-flex items-center justify-between font-medium text-lg text-foreground"
              >
                <button
                  class="hover:underline hover:text-accent cursor-pointer"
                >
                  {{ task.name }}
                </button>
                <section class="inline-flex items-center gap-2">
                  <app-badge [badgeValue]="task.difficulty!"></app-badge>
                  <app-badge
                    [badgeValue]="task.status!"
                    [badgeClassificationConfig]="tempStatusBadgeConfig"
                  ></app-badge>
                </section>
              </h4>
              <p class="text-sm text-muted-foreground">
                {{ task.description }}
              </p>
            </div>
            <div data-actions class="flex items-center justify-end pr-4">
              <button
                class="group transition-colors cursor-pointer duration-150 ease-out flex items-center justify-center h-[32px] w-[32px] rounded-sm bg-transparent hover:bg-accent"
                (click)="openTaskModal()"
              >
                <ng-icon
                  name="saxMoreOutline"
                  class="rotate-90 [&>*]:fill-foreground group-hover:[&>*]:fill-background"
                ></ng-icon>
              </button>
            </div>
          </div>
        } @empty {
          <div class="flex flex-col border rounded-xl px-4 py-5 mt-2">
            <h4 class="text-foreground">No Task Available</h4>
          </div>
        }
      </section>
    </main>
  </section>
</main>
