<section class="mb-4 grid grid-cols-12 gap-2">
  <section class="col-span-12 md:col-span-6">
    <div class="flex items-center gap-2.5">
      <input
        type="text"
        [formControl]="searchControl"
        [placeholder]="searchPlaceholder()"
        class="border rounded bg-transparent flex-1 h-8 md:flex-none md:w-[20vw] px-4 py-2 text-sm text-foreground outline-none placeholder:text-muted-foreground focus:ring-2 focus:ring-primary"
      />
    </div>
  </section>
  <section class="col-span-12 h-8 md:col-span-6 flex md:justify-end gap-2">
    <button
      class="flex items-center [&_svg]:pointer-events-none shrink-0 [&_svg]:shrink-0 gap-2 rounded border bg-muted/25 px-4 py-1 text-sm font-medium text-foreground hover:bg-muted cursor-pointer"
      [ngpMenuTrigger]="viewMenu"
      ngpButton
    >
      <span class="inline-flex items-center justify-center"
        ><ng-icon name="saxSetting4Bold"></ng-icon
      ></span>
      <p class="inline-block">View</p>
    </button>

    @if (canAddNewItem()) {
      <button
        class="rounded bg-primary px-4 py-1 text-sm font-medium text-primary-foreground hover:bg-accent hover:text-accent-foreground cursor-pointer"
        (click)="addItem.emit()"
      >
        Add {{ title() | titlecase }}
      </button>
    }
  </section>
</section>

<section
  class="border text-foreground rounded overflow-x-scroll styled-scrollbars"
>
  <table class="w-full">
    <thead class="border-b text-base font-medium">
      @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
        <tr>
          @for (header of headerGroup.headers; track header.id) {
            @if (!header.isPlaceholder) {
              @let sortState = header.column.getIsSorted();
              @let sortIcon = getSortIcon(header.column);
              <th class="px-4 py-2 text-left text-sm font-medium">
                <button
                  class="flex items-center justify-center gap-1 rounded px-2 py-1 text-sm -ml-2.5 font-medium text-foreground select-none"
                  [ngClass]="{
                    'cursor-pointer select-none hover:bg-primary/90 active:bg-primary/75':
                      header.column.getCanSort(),
                    'pointer-events-none': !header.column.getCanSort(),
                  }"
                  (click)="toggleColumnSorting(header.column)"
                >
                  <ng-container
                    *flexRender="
                      header.column.columnDef.header;
                      props: header.getContext();
                      let headerContext
                    "
                  >
                    <p>{{ headerContext }}</p>
                    <span class="inline-flex items-center justify-center">
                      @if (header.column.getCanSort()) {
                        <ng-icon
                          class="transition-transform duration-100 ease-burst-in-slow-out"
                          [name]="sortIcon"
                          [ngClass]="{
                            'rotate-0': sortState === 'asc',
                            'rotate-180': sortState === 'desc',
                          }"
                        ></ng-icon>
                      }
                    </span>
                  </ng-container>
                </button>
              </th>
            }
          }
        </tr>
      }
    </thead>

    @if (table.getRowModel().rows.length > 0) {
      <tbody class="divide-y divide-border">
        @for (row of table.getRowModel().rows; track row.id) {
          <tr
            class="transition-all duration-100 ease-burst-in-slow-out"
            [ngClass]="{
              'hover:bg-table-row-hover active:opacity-50 cursor-pointer select-none':
                enableRowSelection(),
            }"
            (click)="rowClick(row)"
          >
            @for (cell of row.getVisibleCells(); track cell.id) {
              <td class="px-4 py-2 align-middle text-sm tracking-[0.03rem]">
                <ng-container
                  *flexRender="
                    cell.column.columnDef.cell;
                    props: cell.getContext();
                    let cell
                  "
                >
                  <span class="inline-flex text-xs">{{
                    cell | titlecase
                  }}</span>
                </ng-container>
              </td>
            }
          </tr>
        } @empty {
          <td class="px-4 py-2"></td>
        }
      </tbody>
    } @else {
      <tbody>
        <tr>
          <td class="px-4 py-2 text-center" colspan="100%">No data found.</td>
        </tr>
      </tbody>
    }

    <tfoot></tfoot>
  </table>

  <div class="h-1"></div>
</section>

<section class="flex items-center justify-between mt-2">
  <div class="flex items-center gap-2 select-none">
    <button
      class="inline-flex transition-all duration-100 ease-out items-center justify-center border rounded text-center px-4 py-2 text-sm font-medium size-8 bg-muted/25 text-foreground shrink-0 hover:bg-muted active:bg-accent/75 cursor-pointer"
      [ngClass]="{
        'pointer-events-none opacity-50': !table.getCanPreviousPage(),
      }"
      (click)="table.firstPage()"
    >
      <<
    </button>
    <button
      class="inline-flex transition-all duration-100 ease-out items-center justify-center border rounded text-center px-4 py-2 text-sm font-medium size-8 bg-muted/25 text-foreground shrink-0 hover:bg-muted active:bg-accent/75 cursor-pointer"
      [ngClass]="{
        'pointer-events-none opacity-50': !table.getCanPreviousPage(),
      }"
      (click)="table.previousPage()"
    >
      <
    </button>
    <button
      class="inline-flex transition-all duration-100 ease-out items-center justify-center border rounded text-center px-4 py-2 text-sm font-medium size-8 bg-muted/25 text-foreground shrink-0 hover:bg-muted active:bg-accent/75 cursor-pointer"
      (click)="table.nextPage()"
      [ngClass]="{ 'pointer-events-none opacity-50': !table.getCanNextPage() }"
    >
      >
    </button>
    <button
      class="inline-flex transition-all duration-100 ease-in items-center justify-center border rounded text-center px-4 py-2 text-sm font-medium size-8 bg-muted/25 text-foreground shrink-0 hover:bg-muted active:bg-accent/75 cursor-pointer"
      [ngClass]="{ 'pointer-events-none opacity-50': !table.getCanNextPage() }"
      (click)="table.lastPage()"
    >
      >>
    </button>
  </div>
  <div class="inline-flex items-center space-x-2 order-first">
    <p
      class="whitespace-nowrap font-medium text-sm text-muted-foreground mr-4!"
    >
      Rows per page
    </p>
    <button
      class="flex items-center gap-1.5 border rounded bg-muted/25 hover:bg-muted pl-4 py-2 h-8 min-w-[4.5rem] cursor-pointer"
      ngpButton
      [ngpMenuTrigger]="pageSizeMenu"
      ngpButton
    >
      <p class="text-sm whitespace-nowrap text-medium">
        {{ table.getState().pagination.pageSize }}
      </p>
      <ng-icon name="heroChevronDown" class="size-4! [&_svg]:size-4!"></ng-icon>
    </button>
  </div>
</section>

<ng-template #pageSizeMenu>
  <app-menu [menuItems]="pageSizes" (selectMenu)="changePageSize($event)" />
</ng-template>

<ng-template #viewMenu>
  <app-table-drop-menu
    [menuItems]="viewMenuItems"
    (selectMenu)="toggleColumnVisibility($event)"
  ></app-table-drop-menu>
</ng-template>
