<button
  class="border rounded-md px-4 py-2 text-center text-foreground"
  (click)="showToast()"
>
  Show Toast
</button>

<app-table
  class="text-foreground"
  title="Item"
  searchPlaceholder="Search items..."
  [data]="state.items().records"
  [pageCount]="state.items().total / state.query().pageSize"
  [query]="state.query()"
  [columns]="itemColumns"
  [enableRowSelection]="true"
  (addItem)="openItemUpsertModal()"
  (selectedRow)="openItemUpsertModal($event)"
  (tableQueryChange)="handleQueryChange($event)"
></app-table>
