<main class="h-full bg-background" [class.dark]="theme() === 'dark'">
  <section class="flex items-center">
    <div class="w-[128px] h-[128px] border border-foreground text-foreground">
      Character Pic
    </div>
    <div
      class="w-[256px] flex flex-col justify-center text-foreground ml-4 gap-2"
    >
      <app-stat-bar
        statCursor="hp"
        [props]="{ bgColorTailwindCss: 'bg-rose-500', prefix: 'HP' }"
      ></app-stat-bar>
      <app-stat-bar
        statCursor="mana"
        [props]="{ bgColorTailwindCss: 'bg-blue-500', prefix: 'MP' }"
      ></app-stat-bar>
    </div>
  </section>

  <div>
    <button
      class="bg-primary h-[2.4rem] px-4 py-1 text-black ml-auto rounded-full cursor-pointer hover:bg-primary/85"
      (click)="increaseStat('hp', 10)"
    >
      HP +1
    </button>
    <button
      class="bg-primary h-[2.4rem] px-4 py-1 text-black ml-auto rounded-full cursor-pointer hover:bg-primary/85"
      (click)="decreaseStat('hp', 10)"
    >
      HP -1
    </button>
    <button
      class="bg-primary h-[2.4rem] px-4 py-1 text-black ml-auto rounded-full cursor-pointer hover:bg-primary/85"
      (click)="increaseStat('mana', 10)"
    >
      MP +1
    </button>
    <button
      class="bg-primary h-[2.4rem] px-4 py-1 text-black ml-auto rounded-full cursor-pointer hover:bg-primary/85"
      (click)="decreaseStat('mana', 10)"
    >
      MP -1
    </button>
  </div>
</main>
